a {
    color: black;
}

body {
    overflow: hidden;
}


@keyframes name_animation {
    0% {transform: translate(-30%);}
    25% {transform: translate(40%);
        color: blue;
        box-shadow: 10px 10px 5px lightblue;}
    50% {transform: translate(40%);
        color: black;
        box-shadow: none;}
    100% {transform: translate(110%);}
}

@keyframes second_animation {
    0% {opacity: 0%;}
    50% {opacity: 100%;
        transform: rotateY(150deg);}
    100% {opacity: 100%;
        transform: translate(50%);}
}

.animated {
    animation-name: name_animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

.second-animation {
    animation-name: second_animation;
    animation-duration: 5s;
    animation-delay: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity: 0%;
}

.hover-excite {
    transition: 2s;
}

.hover-excite:hover:not(.active) {
    background-color: grey;
    transform: rotateY(330deg);
}

.center {
    margin: auto;
    width: 50%;
}

.container {
    background-color: grey;
    border: black 1px;
    border-radius: 5%;
    margin: 5%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}